<div class="container-fluid text-center mt-3">
  <h3 class="heading-font txt-black">
    <%="Welcome #{current_user.profile.first_name.capitalize}!"%>
  </h3>
  
</div>

<div class="container-fluid text-center">
  <%= form_tag(shops_path, method: :get) do %>
    <div class="form-group row my-4">
      <div class="col-9 col-lg-7 offset-lg-2">
        <%= text_field_tag :term, params[:term], class:"form-control w-100", placeholder: "Search for food, type, ingredients" %>
      </div>
      <div class="col-3 col-lg-1">
        <%= button_tag(type: "submit", name: nil, class: "btn btn-primary") do %>
          <%= fa_icon "search", text: "Search" %>
        <% end %>
      </div>
    </div>
  <% end %>
  <%= form_with(model: @shop, local: true) do |form| %>

    <%= form.label "Filter" %>
    <%= form.select(:cuisine_type, Shop::CUISINE_TYPES, {}, { :class => 'custom-select' }) %>


  <% end %>
</div>

<div class="row mt-5 m-0 p-0">
  <% @shops.each_with_index do |shop, index| %>
    <div class="col-12 col-lg-4">
      <div class="shop-lists">
        <%= link_to shop_path(shop) do %>
          <%= image_tag shop.shop_photo_url(:large), class: "h-100" %>
        <% end %>
      </div>
      <h6 class="text-black"><%= shop.shop_name %> 
        <span class="float-right">
          <% distance_from = shop.owner.profile.distance_between(current_user) %>
          <% if shop.owner == current_user %>
            <%= fa_icon "car" %>
            Your Shop
          <% elsif shop.delivery_km > distance_from %>
            <%= fa_icon "car" %>
            Delivery Avaliable
          <% else %>
            <%= fa_icon "pinterest-p" %>
            Pickup only
          <% end %>
        </span><br>
        <em class="float-right txt-grey"><%= "#{shop.suburb}, #{distance_from}km " %></em>
        <em class="txt-grey"><%= shop.cuisine_type %></em>
      </h6>
    </div>
    <% if index > 0 && index % 3 == 0 %>
      </div>
      <div class="row">
    <% end %>
  <% end %>
</div>
