<h1></h1>


<h2><%= @shop.shop_name %></h2>
<p><%= @shop.shop_description %></p>

<% if @shop.shop_photo_data %>
  <%= image_tag @shop.shop_photo_url(:thumb) %>
<% end %>
<% if @shop.user_photo_data %>
  <%= image_tag @shop.user_photo_url(:thumb) %>
<% end %>



  
<%= form_with(model: @order, local: true) do |form| %>
  <%= form.fields_for :items do |items_form| %>
    <% @items.each do |item| %>
      <details>
        <summary>
          <%= item.name %>
            <%= items_form.fields_for "#{item.id}" do |item_form| %>
              <%= form.label item.name %>
              <%= item_form.text_field :quantity %>
            <% end %>
        </summary>
          <table>
            <tr><%= item.description %></tr>
            <tr>
              <td>
                <% if item.image_data %>  
                  <%= image_tag item.image_url(:thumb) %>
                <% end %>
              </td>
              <td>
                <%= "Price: $#{item.price}" %>
              </td>
            </tr>
          </table>
      </details>
    <% end %>
  <% end %>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
