<div class="container bg-blue text-center">
  <h1 class="heading-font txt-white pt-3">My Shop Dashboard</h1>
  <h3 class="heading-font txt-white pb-3"><%= @shop.shop_name %></h3>
  <div class="row">
    <span class="col-12 col-lg-12">
      <h5 class="heading-font txt-grey pb-3"><%= "#{@shop.owner.profile.first_name}, #{@shop.owner.email}" %></h5>
    </span>
    <span class="col-12 col-lg-12">
      <%= link_to edit_profile_path, class: "btn btn-red mb-4" do %>
        <%= fa_icon "pencil", text: "Edit My Details" %>
      <% end %>
      <%= link_to @shop, class: "btn btn-red mb-4" do %>
        <%= fa_icon "shopping-bag", text: "My Shop" %>
      <% end %>
    </span>
  </div>
</div>

<div class="row">
  <div class="col-12 col-lg-12 mb-3">
    <div class="container bg-grey text-center">
      <h4 class="heading-font txt-black py-4">My Orders</h4>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Date</th>
          <th>Items</th>
          <th>Delivery</th>
          <th>Price</th>
          <th>Order</th>
          <th>Mark as done</th>
          <th>Mark as Delivered/<br>
          Picked up</th>
        </tr>
      </thead>
      <tbody>
        <% @orders.each do |order| %>
          <tr>
            <td>
              <%= order.date %><br>
              <%= order.time %>
            </td>
            <td>
              <% order.order_items.each do |order_item| %>
                <%= order_item.quantity %> x <%= order_item.name %><br>
              <% end %>
            </td>
            <td><%= order.delivery_address %></td>
            <td>$<%= order.subtotal %>0</td>
            <td>
              <%= link_to order_path(order), class: "btn btn-red" do %>
                <%= fa_icon "file-text-o" %>
              <% end %>
            </td>
            <td>
              <% if order.done? %>
                <%= form_for order do |f| %>
                  <%= f.hidden_field :mark_as_done, value: false %>
                  <%= f.button :submit, class: "btn btn-red" do %>
                    <%= fa_icon "square" %>
                  <% end %>
                <% end %>
              <% else %>
                <%= form_for order do |f| %>
                  <%= f.hidden_field :mark_as_done, value: true %>
                  <%= f.button :submit, class: "btn btn-primary" do %>
                    <%= fa_icon "check-square" %>
                  <% end %>
                <% end %>
              <% end %>
            </td>
            <td>
              <% if order.delivered %>
                <%= form_for order do |f| %>
                  <%= f.hidden_field :delivered, value: false %>
                  <%= f.button :submit, class: "btn btn-primary" do %>
                    <%= fa_icon "check-square" %>
                  <% end %>
                <% end %>
              <% else %>
                <%= form_for order do |f| %>
                  <%= f.hidden_field :delivered, value: true %>
                  <%= f.button :submit, class: "btn btn-red" do %>
                    <%= fa_icon "car" %>
                  <% end %>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="container bg-grey text-center py-3">
      <%= link_to "View All", orders_path, class: "btn btn-primary" %>
    </div>
  </div>

  <div class="col-12 col-lg-6">
    <div class="container bg-grey text-center">
      <h4 class="heading-font txt-black py-4">Shop Details</h4>
    </div>
    <table class="table">
      <tr>
        <th scope="row">Name:</th>
        <td><%= @shop.shop_name %></td>
      </tr>
      <tr>
        <th scope="row">Description:</th>
        <td><%= @shop.shop_description %></td>
      </tr>
      <tr>
        <th scope="row">Cuisine</th>
        <td><%= @shop.cuisine_type %></td>
      </tr>
      <tr>
        <th scope="row">Delivery</th>
        <td>
          <% if @shop.delivery_km.to_i > 0 %>
            <p>Yes, within <strong><%= @shop.delivery_km %>km</strong> of:</p>
            <p><%= @shop.street_address %>,<br>
            <%= @shop.suburb %>, <%= @shop.state %></p>
          <% else %>
            <p>Pickup from:</p>
            <p><%= @shop.street_address %>,<br>
            <%= @shop.suburb %>, <%= @shop.state %></p>
          <% end %>
        </td>
      </tr>
      <tr>
        <th scope="row">Shop Photo</th>
        <td>
          <% if @shop.shop_photo_data %>
            <%= image_tag @shop.shop_photo_url(:thumb) %>
          <% else %>
            <p>No Image</p>
          <% end %>
        </td>
      </tr>
      <tr>
        <th scope="row">Your Photo</th>
        <td>
          <% if @shop.shop_photo_data %>
            <%= image_tag @shop.user_photo_url(:thumb) %>
          <% else %>
            <p>No Image</p>
          <% end %>
        </td>
      </tr>
    </table>

    <div class="container bg-grey text-center py-3">
      <%= link_to "Edit Shop", edit_shop_path(@shop), class: "btn btn-primary mx-1" %>
      <%= link_to "Go to Shop", shop_path(@shop), class: "btn btn-red mx-1" %>
    </div>
  </div>

  <div class="col-12 col-lg-6 float-left">
    <div class="container bg-grey text-center">
      <h4 class="heading-font txt-black py-4">My Items</h4>
    </div>
    <div class="bg-white">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name & Details</th>
            <th>Price</th>
            <th>Activate</th>
            <th>Edit/Delete</th>
          </tr>
        </thead>
        <tbody>
          <% @items.each do |item| %>
            <tr>
              <td class="col-6 col-lg-6">
                <details class="details-width">
                  <summary>
                    <strong><%= item.name %></strong>
                    <span class="float-right">
                      <% fa_icon "leaf" if item.vegetarian %>
                    </span>
                  </summary>
                  <strong>Description:</strong>
                  <p><%= item.description %></p>
                  <strong>Allergies:</strong>
                  <p><%= item.allergies %></p>
                  <strong>Image:</strong>
                  <% if item.image_data %>
                    <%= image_tag item.image_url(:thumb) %>
                  <% else %>
                    <p>No Image</p>
                  <% end %>
                </details>
              </td>
              <td><%= "$#{item.price}0" %>
              <td>
                <% if item.active? %>
                  <%= form_for item do |f| %>
                    <%= f.hidden_field :active, value: false %>
                    <%= f.button :submit, class: "btn btn-red" do %>
                      <%= fa_icon "stop", text: "De-activate" %>
                    <% end %>
                  <% end %>
                <% else %>
                  <%= form_for item do |f| %>
                    <%= f.hidden_field :active, value: true %>
                    <%= f.button :submit, class: "btn btn-primary" do %>
                      <%= fa_icon "play", text: "Activate" %>
                    <% end %>
                  <% end %>
                <% end %>
              </td>
              <td>
                <%= link_to edit_item_path(item), class: "btn btn-primary" do %>
                  <%= fa_icon "pencil" %>
                <% end %>
                <%= link_to seller_profile_path, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-red" do %>
                  <%= fa_icon "times" %>
                <% end %>

              </td>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="container bg-grey text-center p-3">
      <%= link_to "Add New Item", new_item_path, class: "btn btn-primary" %> 
    </div>
  </div>

