<div class="container bg-blue text-center">
  <h1 class="heading-font txt-white pt-3">My Shop Dashboard</h1>
  <h3 class="heading-font txt-white pb-3"><%= @shop.shop_name %></h3>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="container bg-grey text-center">
      <h4 class="heading-font txt-black py-4">My Orders</h4>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Username</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>
  </div>

  <div class="col-sm-6">
    <div class="container bg-grey text-center">
      <h4 class="heading-font txt-black py-4">My Items</h4>
    </div>
    <div class="bg-white">
      <% index = 1 %>
      <% @items.each do |item| %>
        <% if index % 2 == 0 %>
          <div class="bg-grey py-3">
            <span><%= item.name %></span>
            <%= link_to "Edit", edit_item_path(item), class: "float-right" %> 
            <%= link_to 'Destroy', items_path, method: :delete, data: { confirm: 'Are you sure?' }, class: "float-right" %>
          </div>
        <% else %>
          <div class="bg-white py-3">
            <span><%= item.name %></span>
            <%= link_to "Edit", edit_item_path(item), class: "float-right" %> 
            <%= link_to 'Destroy', items_path, method: :delete, data: { confirm: 'Are you sure?' }, class: "float-right" %>
          </div>
        <% end %>
        <% index +=  1 %>
      <% end %>
    </div>
    <div class="container bg-white text-center p-3">
      <%= link_to "Add New Item", new_item_path, class: "btn btn-primary" %> 
    </div>
  </div>

  <div class="col-sm-6">
    <div class="container bg-grey text-center">
      <h4 class="heading-font txt-black py-4">Shop Details</h4>
    </div>
    <div>
      <strong>Shop: </strong><%= @shop.shop_name %>
    </div>
    <div>
      <strong>Description: </strong><%= @shop.shop_description %>
    </div>

</div>