<%= form_with(model: order, local: true) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :buyer_id %>
    <%= form.text_field :buyer_id, id: :order_buyer_id %>
  </div>

  <div class="field">
    <%= form.label :shop_id %>
    <%= form.text_field :shop_id, id: :order_shop_id %>
  </div>

  <div class="field">
    <%= form.label :delivery %>
    <%= form.check_box :delivery, id: :order_delivery %>
  </div>

  <div class="field">
    <%= form.label :total_price %>
    <%= form.text_field :total_price, id: :order_total_price %>
  </div>

  <div class="field">
    <%= form.label :charge_identifier %>
    <%= form.text_field :charge_identifier, id: :order_charge_identifier %>
  </div>

  <div class="field">
    <%= form.label :payment_success %>
    <%= form.check_box :payment_success, id: :order_payment_success %>
  </div>

  <div class="field">
    <%= form.label :mark_as_done %>
    <%= form.check_box :mark_as_done, id: :order_mark_as_done %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
