
    <div class="container-fluid bg-red text-center">
      <h4 class="heading-font txt-black py-4">All Orders for:</h4>
      <h3 class="heading-font"><%= @shop.shop_name %></h3>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Date</th>
          <th>Items</th>
          <th>Delivery</th>
          <th>Price</th>
          <th>Order</th>
          <th>Mark as done</th>
          <th>Mark as Delivered/<br>
          Picked up</th>
        </tr>
      </thead>
      <tbody>
        <% @orders.each do |order| %>
          <tr>
            <td>
              <%= order.date %><br>
              <%= order.time %>
            </td>
            <td>
              <% order.order_items.each do |order_item| %>
                <%= order_item.quantity %> x <%= order_item.name %><br>
              <% end %>
            </td>
            <td><%= order.delivery_address %></td>
            <td>$<%= order.subtotal %>0</td>
            <td>
              <%= link_to order_path(order), class: "btn btn-red" do %>
                <%= fa_icon "file-text-o" %>
              <% end %>
            </td>
            <td>
              <% if order.done? %>
                <%= form_for order do |f| %>
                  <%= f.hidden_field :mark_as_done, value: false %>
                  <%= f.button :submit, class: "btn btn-primary" do %>
                    <%= fa_icon "square" %>
                  <% end %>
                <% end %>
              <% else %>
                <%= form_for order do |f| %>
                  <%= f.hidden_field :mark_as_done, value: true %>
                  <%= f.button :submit, class: "btn btn-red" do %>
                    <%= fa_icon "check-square" %>
                  <% end %>
                <% end %>
              <% end %>
            </td>
            <td>
              <% if order.delivered %>
                <%= form_for order do |f| %>
                  <%= f.hidden_field :delivered, value: false %>
                  <%= f.button :submit, class: "btn btn-primary" do %>
                    <%= fa_icon "check-square" %>
                  <% end %>
                <% end %>
              <% else %>
                <%= form_for order do |f| %>
                  <%= f.hidden_field :delivered, value: true %>
                  <%= f.button :submit, class: "btn btn-red" do %>
                    <%= fa_icon "car" %>
                  <% end %>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="container bg-grey text-center py-3">
      <%= link_to "Back", seller_profile_path, class: "btn btn-primary" %>
    </div>
  