<%= form_for([@order, review]) do |form| %>
  <% if review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :shop_id, :value => @order.shop.id %>
  <%= form.hidden_field :user_id, :value => current_user.id %>
  <%= form.hidden_field :order_id, :value => @order.id %>
  
  <div class="form-group row">
    <%= form.label :score, class: "col-2 col-form-label" %>
    <div class="col-2">
      <%= form.select(:score, (1..5), {} , {:class => "form-control"})%>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :content, class: "col-2 col-form-label" %>
    <div class="col-10">
      <%= form.text_area :content, id: :review_content, class: "form-control", rows: "5" %>
    </div>
  </div>

  <div class="text-center">
      <%= form.submit 'Post Review', class: "btn btn-primary"%>
    </div>
<% end %>
